@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Günaydın Sitesi Yönetim Portalına Hoş Geldiniz</h1>
    
     
</div>
<div class="text-left" >
    <h4 align="center" >Yukarıdaki Menüyü Kullanarak İşlemlerinizi Yapabilirsiniz</h4>
</div>
<div class="text-left">
    <h2 class="display-4">Admin/Yönetici </h2>
    <ul>
        
        <li>Daire bilgilerini girebilir.        </li>
        <li>İkamet eden kullanıcı bilgilerini girer.        </li>
        <li>Daire başına ödenmesi gereken aidat ve fatura bilgilerini girer(Aylık olarak). Toplu veya tek tek atama yapılabilir. </li>        
        <li>Gelen ödeme bilgilerini görür.</li>
        <li> Gelen mesajları görür.</li>
        <li>Aylık olarak borç-alacak listesini görür.</li>
        <li>Kişileri listeler, düzenler, siler.  </li>
        <li>Daire/konut bilgilerini listeler, düzenler siler</li>

    </ul>

<div/>
    <div class ="text-left">
        <h2 class="display-4">Kullanıcı </h2>
        <ul>           

            <li>Kendisine atanan fatura ve aidat bilgilerini görür. </li>
            <li>Kredi kartı ile ödeme yapabilir. </li>
            <li>Yöneticiye mesaj gönderebilir. </li>
            <li>Daire/Konut bilgilerinde </li>
            <li>Hangi blokda </li>
            <li>Durumu (Dolu-boş) </li>
            <li>Tipi (2+1 vb.) </li>
            <li>Bulunduğu kat </li>
            <li> Daire numarası </li>
            <li> Daire sahibi veya kiracı </li>
            <li>Kullanıcı bilgilerinde </li>
            <li>Ad-soyad </li>
            <li>TCNo </li>
            <li> E-Mail </li>
            <li>Telefon </li>                
            <li>Araç bilgisi(varsa plaka no) </li>
            
        </ul>

    
</div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

